* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: rgb(192, 133, 110);
}
#guess__title {
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#guess__title,
#thinking_man,
#input__area,
#write__number,
#attemps,
#result,
#reset__button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

#thinking_man {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}
#number {
    height: 2rem;
    width: 8rem;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: 2px solid yellow;
    margin-right: 5px;
}
#check {
    width: 4rem;
    border: 2px solid yellow;
    background-color: rgb(42, 187, 212);
    color: black;
    font-weight: 800;
}
#check:hover {
    background-color: yellow;
    border: 2px solid red;
    color: black;
}
#explain {
    margin-right: 15px;
}
#result {
    display:none;
}
#reset {
    width: 4rem;
    height: 2rem;
    border: 2px solid rgb(66, 1, 1);
    background-color: rgb(11, 8, 219);
    color: white;
    font-weight: 800;
    display:none;
}

